body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-width: 100vh;
}

/* First Part */
.first_container {
    background-color: #1F2937;
    padding: 10px 150px 10px 150px;
    
}

.header_logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

ul li {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    margin-right: 20px;
}

ul li:last-of-type {
    margin-right: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    display: inline-flex;
    flex: 1;
}

.header_links {
    margin: 0;
    display: flex;
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    color: #E5E7EB;
    text-shadow: 5px 5px 3px black;
}

a:visited {
    color: #E5E7EB;
}

.headers {
    display: flex;
    justify-content: space-between;
}

.hero_container {
    padding: 100px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_p {
    font-size: 18px;
    color: #E5E7EB;
}

.witch {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}

.hero {
    margin-right: 50px;
}

.hero_button {
    background-color: #060707;
    color: #E5E7EB;
    padding : 8px 25px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
}

.hero_button:hover {
    background-color: #3882F6;
}
/* First Part */


/* Second Part */
img {
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
}

.infos {
    width: 200px;
    height: 300px;
    padding: 0 25px;
    
}

.info_image {
    display: flex;
    padding: 20px 20px 20px 150px;
}

.second_header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.second_container {
    padding: 30px;
}

.infop {
    text-align: center;
}
/* Second Part */

/* Third Part */
.third_container {
    background-color: #E5E7EB;
}

q {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quotes {
    padding: 80px 300px;
}

.author_q {
    text-align: right;
    font-weight: 900;
    color: #1F2937;
    font-size: 25px;
}
/* Third Part */

/* Fourth Part */
.fourth_container {
    padding: 90px 200px;
}
.call_action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 30px;
    color: #E5E7EB;
    padding: 50px 90px;
}

.call_button {
    background-color: #060707;
    color: #E5E7EB;
    padding : 8px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
}

.call_button:hover {
    background-color: #3882F6;
    border: 2px white solid;
}

.call {
    font-size: 18px;
    margin: 0;
}

.calls {
    margin: 0;
    font-size: 25px;
}

/* Fourth Part */

/* Footer */
.footer {
    left: 0;
    bottom: 0;
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
/* Footer */